<!DOCTYPE html>
<html>
<head>
  <title>A New MMO</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type='text/javascript' src="/javascripts/post.js"></script>
  <script>
    var socket = io.connect('/');
    socket.on('start_battle', function (data) {
        turnOrder = [];
        player1 = character;
        turnOrder.push("player1");
        enemy1 = monster;
        turnOrder.push("enemy1");
    });

    socket.on('name', function (data) {
        me = "player1";
    });

    socket.on('disconnect', function() {
      alert("You've been disconnected - make sure you are logged in and you selected a character");
    });

    socket.emit('name', {});
  </script>
</head>

<body>
  <div id="battleCommands" style="width:500px;height:200px;border:5px solid black;" class="box">
    <!-- PLAYER PARTY DISPLAY -->
    <div id="players" style="width:33%;border:1px solid black;float:left;">
        <div id="player1" style="height:25%" onclick="switchTarget('player1')">
            <div id="player1name" style="width:50%;float:left;">
            </div>
            <div id="player1stats" style="width:50%;float:left;">
                <div id="player1hp" style="height:33%">
                </div>
                <div id="player1mp" style="height:33%">
                </div>
            </div>
        </div>
    </div>
    <!-- BATTLE COMMANDS -->
    <div id="commands" style="width:32.8%;border:1px solid black;float:left;">
        <div id="attack" type="button" style="height:20%" onclick="action('attack');">
        Attack
        </div>
        <div id="flee" type="button" style="height:20%" onclick="action('flee');">
        Flee
        </div>
    </div>
    <!-- ENEMY PARTY DISPLAY -->
    <div id="enemies" style="width:33%;border:1px solid black;float:left;">
        <div id="enemy1" style="height:25%" onclick="switchTarget('enemy1')">
            <div id="enemy1name" style="width:50%;float:left;">
            </div>
            <div id="enemy1stats" style="width:50%;float:left;">
                <div id="enemy1hp" style="height:50%">
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
      var me = "";
      var me = character;

      var target = "enemy1";
      var yourTurn = false;
      var turnOrder = ["player1", "enemy1"];
      var currentTurn = 0;

      // keep track of monster's current HP
      var enemy1hp = enemy1.health_points;

      function updateBattleScreen() {
        $("#player1name").html(player1.name);
        $("#player1hp").html(player1.health_points);
        $("#player1mp").html(player1.magic_points);
        $("#enemy1name").html(enemy1.name);
        $("#enemy1hp").html(enemy1hp));
      }

      function switchTarget(tar) {
          if ($("#" + tar + "name").html() != "") {
              target = tar;
          }
      };

      function applyDamage(damage) {
          var hp = $("#" + target + "hp").html();
          var hpmax = hp.match(/\/[0-9]+/)[0].slice(1);
          var hpLeft = parseInt(hp.match(/:[0-9]+\//)[0].slice(1, -1)) - damage;
          if (hpLeft < 0) hpLeft = 0;
          $("#" + target + "hp").html("HP:" + hpleft + "/" + hpmax);
      };

      function action(command) {
          if (turnOrder[currentTurn] == me) {
              if (command == "attack") {
                  javascript: post('/attack', { 'attacker': character, 'attackee': monster, 'attackerType': 'character' }, function f(data) { applyDamage(data[damage]); });
              } else {
                  window.location.href = '/end_battle';
              }
              if ((parseInt($("#player1hp").html()) == 0 || $("#player1name").html() == "")) {
                  window.location.href = '/end_battle';
              } else if ((parseInt($("#enemy1hp").html()) == 0 || $("#enemy1name").html() == "")) {
                  window.location.href = '/end_battle';
              }
              currentTurn = (currentTurn + 1) % (turnOrder.length);
          }
      };

      var targeting = function () {
          if (target == "player1") {
              $("#player1name").css('color', 'blue');
          } else {
              $("#player1name").css('color', 'black');
          }
          if (target == "enemy1") {
              $("#enemy1name").css('color', 'red');
          } else {
              $("#enemy1name").css('color', 'black');
          }
      };

      setInterval(targeting, 1);
      
  </script>

</body>
</html>
