<!DOCTYPE html>
<html>
  <head>
    <title>TITLE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%= name %> LOGGED IN
  <a href="/logout">logout</a>
  </body>
</html>

