<!DOCTYPE html>
<html>
<head>
  <title>A New MMO</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type='text/javascript' src="/javascripts/post.js"></script>
  <script>
    var socket = io.connect('/');
    socket.on('start_battle', function (data) {
        var i = 1;
        var j = 1;
        turnOrder = [];
        for (n in data[players]) {
            if (i == 1) {
                player1 = n[name];
                turnOrder.push("player1");
            } else if (i == 2) {
                player2 = n[name];
                turnOrder.push("player2");
            } else if (i == 3) {
                player3 = n[name];
                turnOrder.push("player3");
            } else {
                player4 = n[name];
                turnOrder.push("player4");
            }
            i = i + 1;
        }
        for (n in data[monsters]) {
            if (j == 1) {
                enemy1 = n[name];
                turnOrder.push("enemy1");
            } else if (j == 2) {
                enemy2 = n[name];
                turnOrder.push("enemy2");
            } else if (j == 3) {
                enemy3 = n[name];
                turnOrder.push("enemy3");
            } else {
                enemy4 = n[name];
                turnOrder.push("enemy4");
            }
            j = j + 1;
        }
    });

    socket.on('name', function (data) {
        if (player1 == data[name]) {
            me = "player1";
        } else if (player2 == data[name]) {
            me = "player2";
        } else if (player3 == data[name]) {
            me = "player3";
        } else {
            me = "player4";
        }
    });

    socket.on('disconnect', function() {
      alert("You've been disconnected - make sure you are logged in and you selected a character");
    });

    socket.emit('name', {});
  </script>
</head>

<body>
  <div id="battleCommands" style="width:500px;height:200px;border:5px solid black;" class="box">
    <div id="players" style="width:33%;border:1px solid black;float:left;">
        <div id="player1" style="height:25%" onclick="switchTarget('player1')">
            <div id="player1name" style="width:50%">
            </div>
            <div id="player1stats" style="width:50%">
            <div id="player1name" style="width:50%;float:left;">
            </div>
            <div id="player1stats" style="width:50%;float:left;">
                <div id="player1hp" style="height:33%">
                </div>
                <div id="player1mp" style="height:33%">
                </div>
                <div id="player1condition" style="height:33%">
                </div>
            </div>
        </div>
        <div id="player2" style="height:25%" onclick="switchTarget('player2')">
            <div id="player2name" style="width:50%">
            </div>
            <div id="player2stats" style="width:50%">
            <div id="player2name" style="width:50%;float:left;">
            </div>
            <div id="player2stats" style="width:50%;float:left;">
                <div id="player2hp" style="height:33%">
                </div>
                <div id="player2mp" style="height:33%">
                </div>
                <div id="player2condition" style="height:33%">
                </div>
            </div>
        </div>
        <div id="player3" style="height:25%" onclick="switchTarget('player3')">
            <div id="player3name" style="width:50%">
            </div>
            <div id="player3stats" style="width:50%">
            <div id="player3name" style="width:50%;float:left;">
            </div>
            <div id="player3stats" style="width:50%;float:left;">
                <div id="player3hp" style="height:33%">
                </div>
                <div id="player3mp" style="height:33%">
                </div>
                <div id="player3condition" style="height:33%">
                </div>
            </div>
        </div>
        <div id="player4" style="height:25%" onclick="switchTarget('player4')">
            <div id="player4name" style="width:50%">
            </div>
            <div id="player4stats" style="width:50%">
            <div id="player4name" style="width:50%;float:left;">
            </div>
            <div id="player4stats" style="width:50%;float:left;">
                <div id="player4hp" style="height:33%">
                </div>
                <div id="player4mp" style="height:33%">
                </div>
                <div id="player4condition" style="height:33%">
                </div>
            </div>
        </div>
    </div>
    <div id="commands" style="width:32.8%;border:1px solid black;float:left;">
        <div id="attack" style="height:20%" onclick="action('attack');">
        Attack
        </div>
        <div id="skills" style="height:20%">
        Skills
        </div>
        <div id="items" style="height:20%">
        Items
        </div>
        <div id="defend" style="height:20%">
        Defend
        </div>
        <div id="flee" style="height:20%" onclick="action('flee');">
        Flee
        </div>
    </div>
    <div id="enemies" style="width:33%;border:1px solid black;float:left;">
        <div id="enemy1" style="height:25%" onclick="switchTarget('enemy1')">
            <div id="enemy1name" style="width:50%">
            </div>
            <div id="enemy1stats" style="width:50%">
            <div id="enemy1name" style="width:50%;float:left;">
            </div>
            <div id="enemy1stats" style="width:50%;float:left;">
                <div id="enemy1hp" style="height:50%">
                </div>
                <div id="enemy1condition" style="height:50%">
                </div>
            </div>
        </div>
        <div id="enemy2" style="height:25%" onclick="switchTarget('enemy2')">
            <div id="enemy2name" style="width:50%">
            </div>
            <div id="enemy2stats" style="width:50%">
            <div id="enemy2name" style="width:50%;float:left;">
            </div>
            <div id="enemy2stats" style="width:50%;float:left;">
                <div id="enemy2hp" style="height:50%">
                </div>
                <div id="enemy2condition" style="height:50%">
                </div>
            </div>
        </div>
        <div id="enemy3" style="height:25%" onclick="switchTarget('enemy3')">
            <div id="enemy3name" style="width:50%">
            </div>
            <div id="enemy3stats" style="width:50%">
            <div id="enemy3name" style="width:50%;float:left;">
            </div>
            <div id="enemy3stats" style="width:50%;float:left;">
                <div id="enemy3hp" style="height:50%">
                </div>
                <div id="enemy3condition" style="height:50%">
                </div>
            </div>
        </div>
        <div id="enemy4" style="height:25%" onclick="switchTarget('enemy4')">
            <div id="enemy4name" style="width:50%">
            </div>
            <div id="enemy4stats" style="width:50%">
            <div id="enemy4name" style="width:50%;float:left;">
            </div>
            <div id="enemy4stats" style="width:50%;float:left;">
                <div id="enemy4hp" style="height:50%">
                </div>
                <div id="enemy4condition" style="height:50%">
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
      var me = "";
      var player1 = "";
      var player1hp = "";
      var player1mp = "";
      var player1cond = "";
      var me = "player1";
      var player1 = "Player 1";
      var player1hp = "HP:100/100";
      var player1mp = "MP:100/100";
      var player1cond = "GOOD";
      var player2 = "";
      var player2hp = "";
      var player2mp = "";
      var player2cond = "";
      var player3 = "";
      var player3hp = "";
      var player3mp = "";
      var player3cond = "";
      var player4 = "";
      var player4hp = "";
      var player4mp = "";
      var player4cond = "";
      var enemy1 = "";
      var enemy1hp = "";
      var enemy1cond = "";
      var enemy1 = "Enemy A";
      var enemy1hp = "HP:50/50";
      var enemy1cond = "POISON";
      var enemy2 = "";
      var enemy2hp = "";
      var enemy2cond = "";
      var enemy3 = "";
      var enemy3hp = "";
      var enemy3cond = "";
      var enemy4 = "";
      var enemy4hp = "";
      var enemy4cond = "";
      var target = "enemy1";
      var turnOrder = [];
      var yourTurn = false;
      var turnOrder = ["player1", "enemy1"];
      var currentTurn = 0;
      $("#player1name").html(player1);
      $("#player1hp").html(player1hp);
      $("#player1mp").html(player1mp);
      $("#player1condition").html(player1cond);
      $("#player2name").html(player2);
      $("#player2hp").html(player2hp);
      $("#player2mp").html(player2mp);
      $("#player2condition").html(player2cond);
      $("#player3name").html(player3);
      $("#player3hp").html(player3hp);
      $("#player3mp").html(player3mp);
      $("#player3condition").html(player3cond);
      $("#player4name").html(player4);
      $("#player4hp").html(player4hp);
      $("#player4mp").html(player4mp);
      $("#player4condition").html(player4cond);
      $("#enemy1name").html(enemy1);
      $("#enemy1hp").html(enemy1hp);
      $("#enemy1condition").html(enemy1cond);
      $("#enemy2name").html(enemy2);
      $("#enemy2hp").html(enemy2hp);
      $("#enemy2condition").html(enemy2cond);
      $("#enemy3name").html(enemy3);
      $("#enemy3hp").html(enemy3hp);
      $("#enemy3condition").html(enemy3cond);
      $("#enemy4name").html(enemy4);
      $("#enemy4hp").html(enemy4hp);
      $("#enemy4condition").html(enemy4cond);
      function switchTarget(tar) {
          if ($("#" + tar + "name").html() != "") {
              target = tar;
          }
      };
      function applyDamage(damage) {
          var hpLeft = parseInt($("#" + target + "hp").html()) - damage;
          if (hpLeft < 0) hpLeft = 0;
          $("#" + target + "hp").html(hpLeft);
          var hp = $("#" + target + "hp").html();
          var hpmax = hp.match(/\/[0-9]+/)[0].slice(1);
          var hpLeft = parseInt(hp.match(/:[0-9]+\//)[0].slice(1, -1)) - damage;
          if (hpLeft < 0) hpLeft = 0;
          $("#" + target + "hp").html("HP:" + hpleft + "/" + hpmax);
      };
      function action(command) {
          if (turnOrder[currentTurn] == me) {
              if (command == "attack") {
                  javascript: post('/attack', { 'monster': target }, function f(data) { applyDamage(data[damage]); });
                  javascript:post('/attack', { 'monster': target }, function f(data) { applyDamage(data[damage]); });
              } else {
                  window.location.href = '/exit_battle';
              }
              if ((parseInt($("#player1hp").html()) == 0 || $("#player1name").html() == "") && (parseInt($("#player2hp").html()) == 0 || $("#player2name").html() == "") && (parseInt($("#player3hp").html()) == 0 || $("#player3name").html() == "") && (parseInt($("#player4hp").html()) == 0 || $("#player4name").html() == "")) {
                  window.location.href = '/exit_battle';
              } else if ((parseInt($("#enemy1hp").html()) == 0 || $("#enemy1name").html() == "") && (parseInt($("#enemy2hp").html()) == 0 || $("#enemy2name").html() == "") && (parseInt($("#enemy3hp").html()) == 0 || $("#enemy3name").html() == "") && (parseInt($("#enemy4hp").html()) == 0 || $("#enemy4name").html() == "")) {
                  window.location.href = '/end_battle';
              }
              currentTurn = (currentTurn + 1) % (turnOrder.length);
          }
      };
      var targeting = function () {
          if (target == "player1") {
              $("#player1name").css('color', 'blue');
          } else {
              $("#player1name").css('color', 'black');
          }
          if (target == "player2") {
              $("#player2name").css('color', 'blue');
          } else {
              $("#player2name").css('color', 'black');
          }
          if (target == "player3") {
              $("#player3name").css('color', 'blue');
          } else {
              $("#player3name").css('color', 'black');
          }
          if (target == "player4") {
              $("#player4name").css('color', 'blue');
          } else {
              $("#player4name").css('color', 'black');
          }
          if (target == "enemy1") {
              $("#enemy1name").css('color', 'red');
          } else {
              $("#enemy1name").css('color', 'black');
          }
          if (target == "enemy2") {
              $("#enemy2name").css('color', 'red');
          } else {
              $("#enemy2name").css('color', 'black');
          }
          if (target == "enemy3") {
              $("#enemy3name").css('color', 'red');
          } else {
              $("#enemy3name").css('color', 'black');
          }
          if (target == "enemy4") {
              $("#enemy4name").css('color', 'red');
          } else {
              $("#enemy4name").css('color', 'black');
          }
      };
      setInterval(targeting, 1);
  </script>

</body>
</html>
