<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type='text/javascript' src="/javascripts/post.js"></script>
  </head>
  <body>
    <div id="loginbox">
    <h1>A New MMORPG!</h1>
    <form>
    username: <input id="username" type="text"></br>
    password: <input id="password" type="password"></br>
    <input id="loginbutton" type="button" value="Login" onclick="javascript:post('/login', {user: $('#username').val(), password: $('#password').val()}, function f(data) { window.location.href = '/account'; })">
    <input id="registerbutton" type="button" value="Register" onclick="javascript:post('/register', {user: $('#username').val(), password: $('#password').val()}, function f(data) { window.location.href = '/account'; })">
    </form>
    </div>
  </body>
</html>

